@keyframes dotAnimation1 {
  from {
    transform: scale(0.1);
    opacity: 0;
  }

  to {
    transform: scale(0.7);
    opacity: 1;
  }
}

@keyframes dotAnimation2 {
  from {
    transform: scale(0.5);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.heart-dot-wrap {
  transition: opacity .2s;
}

.heart-dot {
  flex-shrink: 0;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heart-blank {
  flex-shrink: 0;
}

.heart-line {
  display: flex;
}
